/dts-v1/;

/ {
    model = "yt_rv64emu";
    compatible = "yutong", "yt_rv64emu";
    #address-cells = <2>;
    #size-cells = <2>;
    interrupt-parent = <&plic>;

    rtcclk: rtcclk {
        compatible = "fixed-clock";
        #clock-cells = <1>;
        clock-frequency = <0x384000>;
        clock-output-names = "rtcclk";
    };

    cpus {
        linux,phandle = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        timebase-frequency = <5000000>;
        cpu0: cpu@0 {
            device_type = "cpu";
            reg = <0x0>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv64imacfd";
            mmu-type = "riscv,sv48";
            riscv,pmpregions = <16>;
            riscv,pmpgranularity = <4>;
            linux,boot-cpu;
            cpu0_intc: interrupt-controller {
                #interrupt-cells = <1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
        /*
        cpu1: cpu@1 {
            device_type = "cpu";
            reg = <0x1>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv64imacfd";
            mmu-type = "riscv,sv48";
            riscv,pmpregions = <16>;
            riscv,pmpgranularity = <4>;
            cpu1_intc: interrupt-controller {
                #interrupt-cells = <1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
        cpu2: cpu@2 {
            device_type = "cpu";
            reg = <0x2>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv64imacfd";
            mmu-type = "riscv,sv48";
            riscv,pmpregions = <16>;
            riscv,pmpgranularity = <4>;
            cpu2_intc: interrupt-controller {
                #interrupt-cells = <1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
        cpu3: cpu@3 {
            device_type = "cpu";
            reg = <0x3>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv64imacfd";
            mmu-type = "riscv,sv48";
            riscv,pmpregions = <16>;
            riscv,pmpgranularity = <4>;
            cpu3_intc: interrupt-controller {
                #interrupt-cells = <1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
        cpu4: cpu@4 {
            device_type = "cpu";
            reg = <0x4>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv64imacfd";
            mmu-type = "riscv,sv48";
            riscv,pmpregions = <16>;
            riscv,pmpgranularity = <4>;
            cpu4_intc: interrupt-controller {
                #interrupt-cells = <1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
        cpu5: cpu@5 {
            device_type = "cpu";
            reg = <0x5>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv64imacfd";
            mmu-type = "riscv,sv48";
            riscv,pmpregions = <16>;
            riscv,pmpgranularity = <4>;
            cpu5_intc: interrupt-controller {
                #interrupt-cells = <1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
        cpu6: cpu@6 {
            device_type = "cpu";
            reg = <0x6>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv64imacfd";
            mmu-type = "riscv,sv48";
            riscv,pmpregions = <16>;
            riscv,pmpgranularity = <4>;
            cpu6_intc: interrupt-controller {
                #interrupt-cells = <1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
        cpu7: cpu@7 {
            device_type = "cpu";
            reg = <0x7>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv64imacfd";
            mmu-type = "riscv,sv48";
            riscv,pmpregions = <16>;
            riscv,pmpgranularity = <4>;
            cpu7_intc: interrupt-controller {
                #interrupt-cells = <1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
        */
        cpu-map {
            cluster0 {
                core0 {
                    cpu = <&cpu0>;
                };
                /*
                core1 {
                    cpu = <&cpu1>;
                };
                core2 {
                    cpu = <&cpu2>;
                };
                core3 {
                    cpu = <&cpu3>;
                };
                core4 {
                    cpu = <&cpu4>;
                };
                core5 {
                    cpu = <&cpu5>;
                };
                core6 {
                    cpu = <&cpu6>;
                };
                core7 {
                    cpu = <&cpu7>;
                };
                */
            };
        };
    };

    bootrom: bootrom@0 {
        device_type = "bootrom";
        reg = <0x00000000 0x00000000 0x00000000 0x00008000>;
    };

    /*
    sram1: sram@10000 {
        device_type = "memory";
        reg = <0x00000000 0x00010000 0x00000000 0x00010000>;
    };

    sram2: sram@20000 {
        device_type = "memory";
        reg = <0x00000000 0x00020000 0x00000000 0x00010000>;
    };

    dram1: dram@20000000 {
        device_type = "memory";
        reg = <0x00000000 0x20000000 0x00000000 0x00800000>;
    };
    */

    dram2: dram@80000000 {
        device_type = "memory";
        reg = <0x00000000 0x80000000 0x00000000 0x08000000>;
    };
    
    flash: flash@100000000 {
        compatible = "simple,flash0";
        reg = <0x00000001 0x00000000 0x00000000 0x80000000>;
    };

    peri: peri {
        compatible = "simple-bus";
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        uart0: uart@10000000 {
            interrupts = <0x1>;
            interrupt-parent = <&plic>;
            compatible = "sifive,uart0";
            clocks = <&rtcclk 0>;
            reg = <0x10000000 0x1000>;
        };
        
        spi0: spi@10001000 {
            interrupts = <0x2>;
            interrupt-parent = <&plic>;
            compatible = "riscv,spi0";
            reg = <0x10001000 0x1000>;
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            spidev@0 {
                compatible = "rohm,dh2228fv";
                reg = <0x0>;
                spi-max-frequency = <20000000>;
                voltage-ranges = <0xce4 0xce4>;
                disable-wp;
            };

            mmc@1 {
                compatible = "mmc-spi-slot";
                reg = <0x1>;
                spi-max-frequency = <20000000>;
                voltage-ranges = <0xce4 0xce4>;
                disable-wp;
            };
        };

        eth0: eth@10002000 {
            interrupts = <0x3>;
            interrupt-parent = <&plic>;
            compatible = "riscv,eth0";
            reg = <0x10002000 0x1000>;
        };
        
        
        finisher@10008000 {
            compatible = "sifive,test0";
            reg = <0x10008000 0x1000>;
        };

        clint0: clint@10010000 {
            compatible = "riscv,clint0";
            reg = <0x10010000 0x10000>;
            interrupts-extended = <&cpu0_intc 7>, <&cpu0_intc 3>;
            /*
            interrupts-extended = <&cpu0_intc 7>, <&cpu0_intc 3>,
                                  <&cpu1_intc 7>, <&cpu1_intc 3>,
                                  <&cpu2_intc 7>, <&cpu2_intc 3>,
                                  <&cpu3_intc 7>, <&cpu3_intc 3>,
                                  <&cpu4_intc 7>, <&cpu4_intc 3>,
                                  <&cpu5_intc 7>, <&cpu5_intc 3>,
                                  <&cpu6_intc 7>, <&cpu6_intc 3>,
                                  <&cpu7_intc 7>, <&cpu7_intc 3>;
            */
        };

        plic: interrupt-controller@14000000 {
            #interrupt-cells = <1>;
            interrupt-controller;
            compatible = "riscv,plic0";
            riscv,ndev = <32>;
            reg = <0x14000000 0x4000000>;
            interrupts-extended = <&cpu0_intc 11>, <&cpu0_intc 9>;
            /*
            interrupts-extended = <&cpu0_intc 11>, <&cpu0_intc 9>,
                                  <&cpu1_intc 11>, <&cpu1_intc 9>,
                                  <&cpu2_intc 11>, <&cpu2_intc 9>,
                                  <&cpu3_intc 11>, <&cpu3_intc 9>,
                                  <&cpu4_intc 11>, <&cpu4_intc 9>,
                                  <&cpu5_intc 11>, <&cpu5_intc 9>,
                                  <&cpu6_intc 11>, <&cpu6_intc 9>,
                                  <&cpu7_intc 11>, <&cpu7_intc 9>;
            */
        };
    };

    chosen {
        riscv,kernel-start = <0x0 0x80200000>;
        riscv,kernel-end   = <0x0 0x87000000>;
        bootargs = "root=/dev/srda rw console=ttySIF0";
        /* bootargs = "root=/dev/mmcblk0 rw console=ttySIF0 rootwait"; */
        stdout-path = "uart0@10000000";
        linux,platform = <0x00000600>;
    };

    aliases {
        serial0 = &uart0;
    };
};
